venv
*.pyc
*.pyo
*.egg-info
*.sublime-*
.coverage
htmlcov
coverage
*.log
run
testrecipe
.bael.init
.baelfire.lastlog.*
test.txt
*.egg
build
dist
.baelfire.report
.cache
.tox
graph.dot
graph.png
.p
venv_*
todo.txt
.idea
.vscode
.env
_build
testme.py
